.jumbotron {
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url('/src/public/heros/hero-image_2.jpg');
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.container {
  z-index: 0;
  font-size: xx-large;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  margin-top: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}